@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*div[class^="col-"] {
    box-sizing: border-box;
    padding-left: 3px !important;
    padding-right: 3px !important;
}*/

.left-side {
    border: solid thin rgb(238 236 236 / 93%);
    padding-left: 5px;
}

.left-side ul {
    list-style: none;
    font-size: 1.1em;
}

.left-side ul li {
    width: 100%;
    font-size: 14px;
    padding: 20px 20px;
    background-color: #dedede;
    color: #000;
    margin-bottom: 10px;
}


.left-side h4 {
    font-weight: 600 !important;
}

.left-side ul li:hover {
    transition: background-color .3s;
    background-color: rgb(190, 185, 221) !important;
    color: #000;
    cursor: pointer;
}


.left-side ul li a {
    text-decoration: none;
    /*color: #000;*/
}

.right-side {
    border: solid thin rgb(238 236 236 / 93%);
    height: 80vh;
    padding: 5px 10px;
    background-color: rgb(236, 233, 233);
}


.right-side iframe {
    height: 80vh;
}


.right-side h4 {
    font-size: 2em;
    font-weight: 600;
}
.active {
    transition: background-color .3s;
    padding-right: 5px;
    border-right: solid 8px hotpink;
    background-color: darkslateblue !important;
    color: #fff !important;
}



.instrucao {
    width: 88%;
    height: 600px;
    background-color: rgba(255, 140, 0, 0.473);
    z-index: 999999;
}

.embed-responsive {
    position: relative;
}

