.left-side {
    border: solid thin rgb(238 236 236 / 93%);
    padding-left: 5px;
}

.left-side ul {
    list-style: none;
    font-size: 1.1em;
}

.left-side ul li {
    width: 90%;
    padding: 2px 3px;
    background-color: #dedede;
    color: #000;
    margin-bottom: 10px;
}

.left-side ul li:hover {
    background-color: #000;
    color: #fff;;
    cursor: pointer;
}

.left-side ul li a:hover {
    /*color: hotpink;*/
}
.left-side ul li a {
    text-decoration: none;
    /*color: #000;*/
}

.right-side {
    border: solid thin rgb(238 236 236 / 93%);
    height: 90vh;
    padding: 5px 10px;
    background-color: rgb(236, 233, 233);
}

.active {
    padding-right: 5px;
    border-right: solid 8px hotpink;
}
